<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/network.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Home</title>
    </head>

<body>
	<header id="main-header">
		<nav id="navbar">
			<div class="container">
				<ul class="row">
					<li class="col"><a href="/Home">Home</a></li>
					<li class="col"><a href="/profile">Profile</a></li>
					<li class="col"><a href="/post">Posts</a></li>
					<li class="col"><a href="/chat">Chat</a></li>
					<li class="col"><a href="/user/signout">Log out</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<section id="showcase">
		<div class="container">
			<h1>Social Network</h1>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<section id="main" class="col-8">
				<h1>Welcome</h1>
				<p>Etiam et nibh at quam lacinia varius quis id lacus. Suspendisse ornare,
					orci eu venenatis ullamcorper, eros purus mollis elit, tempus convallis ligula
					enim at urna. Maecenas felis lacus, aliquet vel justo et, posuere feugiat eros.
					In eu ipsum nec mi cursus facilisis nec ac sem. Etiam vitae tortor vel nisl mattis
					egestas quis nec lorem. Praesent accumsan fringilla egestas. Suspendisse potenti.
					Morbi nunc purus, convallis quis vulputate eu, vulputate et massa. Curabitur suscipit
					sagittis interdum. Curabitur sagittis mi ac odio pulvinar, eget congue risus rutrum.
					Suspendisse commodo urna commodo, sodales ligula sed, mollis felis. Nulla faucibus
					bibendum ex et tincidunt. Nulla laoreet nulla ultrices leo sagittis, eu suscipit
					justo tempor. Etiam varius a urna eget dignissim. Fusce neque mauris, gravida eget
					elit ut, sagittis fermentum sem. Sed tempor dolor vitae aliquam accumsan.</p>
			</section>
			<aside id="sidebar" class="col-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum
					quam eu metus pharetra, vel pretium magna bibendum. Nam nec porta felis.
					Vestibulum a ullamcorper lacus. Aenean malesuada dignissim augue, vel maximus
					dui sagittis at. Curabitur at nibh congue, suscipit orci sit amet, vehicula lectus.
					Nulla finibus felis enim, nec condimentum nibh maximus id. In magna urna, commodo
					non nibh vitae, ultricies laoreet arcu.</p>
			</aside>
		</div>
	</div>

	<footer id="main-footer">
		<p>Copyright &copy; 2019 Social Network</p>
	</footer>

</body>
</html>