<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/network.png">
    <title>SocialNetwork</title>
</head>

<body>

<div id="page" class="row">
    <div class="col-12">
        <header class="header row">
            <div class="col">  </div>
            <nav class="navigacijski-meni col" id="screen1">
                <form id="login-form" class="form-inline">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" autofocus>
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
                    <!-- <label><input type="checkbox" name="remember"> Remember me</label>-->
                    <button type="submit" class="btn btn-light">Log in</button>
                </form>
            </nav>
        </header>

        <main class="image-form row">
            <div class="image col-6">
                <img src="/images/nordwood-themes-166423-unsplash.jpg" style=" margin-top:30px; width:700px; hight: auto">
            </div>

            <div class="reg-forma col-6">
                <h2 style="margin-top:30px;">Create a New Account</h2>
                <h2>It’s free and always will be. </h2>
                <form id="reg-form" class="row form-group">
                    <div class="form-group">
                        <div class="error" data-errormsg="">
                            <label for="input-first"><b>First Name</b></label>
                            <input type="text" id="input-first" class="form-control" placeholder="First Name" tabindex="1"/>
                        </div>
                        <div class="error" data-errormsg="">
                            <label for="input-last"><b>Surname</b></label>
                            <input type="text" id="input-surname" class="form-control" placeholder="Surname" tabindex="2"/>
                        </div>
                        <div class="error" data-errormsg="">
                            <label for="input-username"><b>Username</b></label>
                            <input type="text" id="input-username" class="form-control" placeholder="Username" tabindex="3"/>
                        </div>
                        <div data-errormsg="">
                            <label for="input-password"><b>Password</b></label>
                            <input type="password" id="input-password" class="form-control" required placeholder="Password" tabindex="4"/>
                        </div>
                        <div data-errormsg="">
                            <label for="input-email"><b>E-mail</b></label>
                            <input type="email" id="input-email" class="form-control" required placeholder="E-mail Address" tabindex="5"/>
                        </div>
                        <div class="form-box">
                            <button id="button-cancel" class="btn btn-light">Cancel</button>
                            <button id="button-send" class="btn btn-light">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>


        <footer id="main-footer">
            <p>Copyright &copy; 2019 Social Network</p>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/javascripts/forms.js"></script>
</body>
</html>
