@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important
}
::after, :before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeeb!important;
    color: #a25e5c;
    font-size: 18px;
    overflow-x: hidden
}

h2 {
    color: #a25e5c;
    text-align: center;
}
a{
    text-decoration: none;
    color: #a25e5c;
}
a:hover {
    color: #a25e5c;

}

.header {
    width: 100%;
    position: fixed;
    background-color: #a25e5c;
    margin: 0;
    z-index: 1000;
    opacity: .8
}
.row {
    margin: 0 !important;
}
#page .col-12 {
    padding: 0;
}

.navigacijski-meni {
    width: 100%;
}

.navigacijski-meni a {
    font-size: 20px;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    color: #a25e5c;
    position: relative;
    top: 5px
}

.navigacijski-meni a:hover {
    color: #eeeeeb;
    background-color: #bcacaa;
    text-decoration: none
}
input:focus,
textarea:focus {
    border-color: #a25e5c !important;
    box-shadow: 0 0 0 0.2rem rgba(162,94,92,.25) !important;
}
.form-inline {
    width: 100%;
    margin: 10px !important;
}

.form-inline label {
    margin: 5px 10px 5px 0;
    color: #eeeeeb;
}

.form-inline input {
    vertical-align: middle;
    margin: 10px 15px 10px 0px;
}

.form-inline button {
    padding: 5px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.form-box {
    padding: 1rem 0;
    clear: both;
    width: 100%;
    position: relative;
    text-align: right;
}

.form-box label {
    font-size: 1rem;
    float: left;
    width: 100px;
    margin-right: 20px
}

.form-box input {
    font-size: 1rem;
    width: 300px;
    padding: .25rem 1rem
}

.form-box select {
    font-size: 1rem;
    width: 300px;
    padding: .25rem 1rem
}

.form-box option {
    font-size: 1rem;
    width: 300px;
    padding: .25rem 1rem
}

.form-box input[type="checkbox"] {
    font-size: 1rem
}

.form-box button {
    font-size: 1rem;
    border: none;
    padding: .25rem 2rem;
    cursor: pointer
}

.error::after {
    background-color: #a25e5c;
    color: #92959E;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position: absolute;
    right: 0;
    content: attr(data-errormsg)
}

.image-form {
    margin-top: 5rem !important;
}

.reg-forma {
    position: relative;
}
.reg-forma .form-group {
    width: 80%;
    margin: auto !important;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden
}

#commments #main-header {
    background-color: #eeeeeb;
    color: #a25e5c;
    text-align: center
}

#main-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}


#navbar {
    background-color: #a25e5c;
    color: #eeeeeb;
    padding: 10px;

}

#navbar ul {
    padding: 0;
    list-style: none;
    position: relative;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

#navbar li {
    display: inline
}

#navbar a {
    color: #eeeeeb;
    text-decoration: none;
    font-size: 23px;
    text-transform: uppercase;

}

#showcase {
    background-image: url(../images/marvin-meyer-571072-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    bottom: 500px;
    margin-bottom: 30px;
    text-align: center
}

#showcase h1 {
    color: #a25e5c;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.6em;
    padding-top: 300px;
    font-size: 50px
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
    color: #92959E;
}
#main h1 {
    margin-top: 0;
}

#sidebar {
    float: right;
    width: 30%;
    background: #92959E;
    color: #eeeeeb;
    padding: 10px;
    box-sizing: border-box
}

#main-footer {
    background: #a25e5c;
    color: #eeeeeb;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    position: relative;
}

@media(max-width: 600px) {
    #main {
        width: 100%;
        float: none
    }
    #sidebar {
        width: 100%;
        float: none
    }
    .tip {
        width: 0;
        height: 0;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc
    }
    .tip-up {
        top: -25px;
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent
    }
    .tip-down {
        bottom: -25px;
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent
    }
    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent
    }
    .tip-right {
        top: 10px;
        right: -25px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent
    }
    .dialogbox .body {
        position: relative;
        max-width: 300px;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc
    }
    .body .message {
        min-height: 30px;
        border-radius: 3px;
        font-size: 14px;
        line-height: 1.5;
        color: #797979
    }
    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0
    }
    .darker {
        border-color: #ccc;
        background-color: #ddd
    }
    .container::after {
        content: "";
        clear: both;
        display: table
    }
    .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%
    }
    .container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0
    }
    .time-right {
        float: right;
        color: #aaa
    }
    .time-left {
        float: left;
        color: #999
    }
    h2 {
        position: relative;
        left: 600px
    }
    #comments {
        display: none
    }

    .comment-list .row {
        margin-bottom: 0
    }
    .comment-list .panel .panel-heading {
        padding: 4px 15px;
        position: absolute;
        border: none;
        border-top-right-radius: 0;
        top: 1px
    }
    .comment-list .panel .panel-heading.right {
        border-right-width: 0;
        border-top-left-radius: 0;
        right: 16px
    }
    .comment-list .panel .panel-heading .panel-body {
        padding-top: 6px
    }
    .comment-list figcaption {
        word-wrap: break-word
    }

}

@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0
    }
    .comment-list .panel.arrow.left:before {
        left: 0;
        top: 30px;
        border-right-color: inherit;
        border-width: 16px
    }
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        border-right-color: #FFF;
        border-width: 15px
    }
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        border-left-color: inherit;
        border-width: 16px
    }
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        border-left-color: #FFF;
        border-width: 15px
    }
}

.comment-list .comment-post {
    margin-top: 6px
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}